body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://upload.wikimedia.org/wikipedia/commons/0/0c/Campus_IFCE_Crato.jpg") center/cover no-repeat;
  height: 100px;
  font-family: 'Poppins', sans-serif;
}

.login-box {
  background: #fff;
  backdrop-filter: blur(8px);
  width: 350px;
  color: #000;
}

.logo-ifce {
  width: 200px;
  height: auto;
}

.form-control {
  background: #f0eded;
  border-radius: 8px;
}

.form-control::placeholder {
  color: #bdb6b6;
}

.btn-success {
  background-color: #008037;
  border: none;
  transition: 0.3s;
}

.btn-success:hover {
  background-color: #00a84d;
}

.btn-voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #dff0d8;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.btn-voltar:hover {
  background-color: #c8e5bc;
}

.btn-voltar img {
  width: 65px;
  height: 65px;
}
